<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link rel="icon" href="/images/weather.png"/>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>
    <body>
        <div class="main_content">
         {{>header}}
        <div>
            <h1>404 Error</h1>
            <p>Page not found</p>
        </div>
        </div>        
        {{>footer}}
    </body>
</html> 