<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/images/weather.png"/>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>
    <body>
        <div class="main_content">
            {{>header}}
        <div>
            <p style="font-size: 20px;color:blue;margin-bottom:7%;">This websited is created by Aman Prateek.It uses data from mapbox.com and open-weather API! </p>
            <img class="portrait" src="/images/aman.jpeg" alt="pic"/>
        </div>
        </div>
        {{>footer}}
    </body>
</html> 