<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/images/weather.png"/>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>
    <body>
        <div class="main_content">
            {{>header}}

        <p style="font-size: 20px;color:blue;margin-bottom:7%;">There is some helpful text.</p>
        </div>
        {{>footer}}
    </body>
</html> 